site_name: Managed Services KB
extra_css:
  - stylesheets/extra.css
theme:
  name: material
  features:
    - toc.follow
   # - toc.integrate
    - navigation.top
   # - navigation.tabs
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
  language: en
  palette:
    - scheme: slate
      toggle:
        icon: material/toggle-switch
        name: Switch to Light mode
      primary: cyan
      accent: deep orange
    - scheme: default
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to Dark mode
      primary: cyan
      accent: deep orange
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - admonition    
  - pymdownx.inlinehilite
  - pymdownx.details
  - pymdownx.snippets
  - pymdownx.superfences
plugins:
  - search # necessary for search to work
  - git-revision-date-localized:
      type: datetime
nav:
  - Managed Services: index.md
  - Exchange: 
    - General Information: Exchange.md
  - M365: 
    - General Information: M365.md
    - Licensing: M365/Licensing.md
  - Sharepoint: Sharepoint.md
  - Teams: 
    - General Information: Teams.md
    - DeviceProvisioning: Teams/DeviceProvisioning.md
    - Device Management: Teams/DeviceManagement.md
    - More Things: 
      - Also Things: Teams/MoreThings.md

